/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /*   background-color: #1877f2;
  height: 100vh; */
}
#root {
  height: 100vh;
}
.App {
  background-color: #232323;
  height: 100vh;
  color: white;
}
header {
  text-align: center;
  height: 20%;
}
main {
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* messages : */
.message {
  background-color: rgb(77, 77, 77);
  border-radius: 17px;
  padding: 8px 8px 8px 16px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.delete {
  background-color: red;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #232323;
  border-radius: 7px;
  margin: 2px;
}

.send {
  border: 2px solid #d1d3d4;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(77, 77, 77);
  color: white;
  cursor: pointer;
}

.send[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.send[type="submit"] {
  background-color: #11e602;
  color: white;
  font-weight: bold;
  padding: 0 15px;
  border: none;
}
